h1 Insecure Direct Object Reference
hr
div.panel.panel-info
	div.panel-heading
		h3.panel-title Description
	div.panel-body
		p A direct object reference occurs when a developer exposes a reference to an internal implementation object, such as a file, directory, or database key. Without an access control check or other protection, attackers can manipulate these references to access unauthorized data.

div.panel.panel-danger
	div.panel-heading
		h3.panel-title Account info
	div.panel-body
		p <strong>Name: </strong> {{acc.name}}
		p <strong>Surname: </strong> {{acc.surname}}
		p <strong>Account number: </strong> {{acc.account}}

